/*$orange: #FF8C00;
$green: #397F08;
$green2: #006666;
$white: #FFF;
$black: #000;
$grey: #212121;
$blue: #0099FF;
$pink: #FF0099;*/

body {
  font-family: 'Space Mono', monospace;
  color: #FFF;
  background-color: #212121;
}

#game-stats {
  margin: auto;
  width: 100%;
  text-align: center;
}

#game-current-scores {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 50px;
}

#instructions {
  margin: auto;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #006666;
}

#player-instructions {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    -moz-column-gap: 20px;
}

#game-normal-mode {
  background-color: #0099FF;
  color: #FFF;
  border: 1px solid #0099FF;
  padding-top: 5px;
  padding-bottom: 5px;
}

#game-speed-mode {
  background-color: #FF0099;
  color: #FFF;
  border: 1px solid #FF0099;
  padding-top: 5px;
  padding-bottom: 5px;
}

.game-canvas {
  background-color: #397F08;
  border: 1px dashed;
  margin: auto;
  display: block;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}

li  {
  display: inline;
}

#player-one-score {
  float: left;
}

#player-two-score {
  float: right;
}

#game-over {
  padding-top: 40px;
  text-align: center;
}

#next-game {
  text-align: center;
}

.end-game {
  opacity: 0.5;
}

